/Build
/Library
/Temp
/*.sln
/*.csproj
/.vs
/obj
/Logs
/UserSettings/Layouts/default-2021.dwlt
/Logs
/Packages/packages-lock.json
/ProjectSettings/ProjectVersion.txt
/UserSettings/Layouts
/UserSettings/Search.index
/androidBuild
/ProjectSettings/boot.config
/UserSettings/Search.settings

